<%- model_class = Platform -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  </tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td><%= link_to platform.id, platform_path(platform) %></td>
        <td><%= platform.name %></td>
        <td><%= platform.description %></td>
        <td><%= platform.created_at %></td>
        <td><%= pluralize platform.reputation_for(:votes).to_i, "vote" %>
      </td>
        <td>
          <%= link_to "Vote FOR", vote_platform_path(platform, type: "up"), method: "post", class: "btn btn-success" %>
          <%= link_to "Vote AGAINST", vote_platform_path(platform, type: "down"), method: "post", class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
  <%= paginate @platforms %>
</center>