<script>
$(document).ready(function(){
  $("#platform1-text").slideUp();
  $("#platform2-text").slideUp();
  $("#parent-platform1").mouseenter (function(){
    $("#platform1").slideUp();
    $("#platform1-text").slideDown();
  });
  $("#parent-platform1").mouseleave (function(){
    $("#platform1").slideDown();
    $("#platform1-text").slideUp();
  });
  $("#parent-platform2").mouseenter (function(){
    $("#platform2").slideUp();
    $("#platform2-text").slideDown();
  });
  $("#parent-platform2").mouseleave (function(){
    $("#platform2").slideDown();
    $("#platform2-text").slideUp();
  });
  $("#image-container-1").mouseenter (function(){
    $("#gf").fadeOut("slow");
    $("#logo").fadeIn("slow");
  });
  $("#image-container-1").mouseleave (function(){
    $("#logo").fadeOut("slow");
    $("#gf").fadeIn("slow");
  });
});
</script>
<%- model_class = Platform -%>
<div class="jumbotron" style="height:700px; background-color:white;">
  <div class="col-lg-12" style="padding-bottom:20px;padding-top:0px;">

    <% flash.each do |name, msg| -%>
      <% if name == :error %>
        <% name = "alert alert-dismissable alert-danger" %>
        <% error_string = "Sorry your Platform could not be added because of the following errors: <br><ul>" %>
        <% msg.each do |error| %>
          <% error_string = error_string + "<li>"+ error + "</li>" %>
        <% end %>
        <% error_string = error_string + "</ul>" %>
      <%= content_tag :div, error_string.html_safe, class: name %>
      <% elsif name == :success %>
        <% name = "alert alert-dismissable alert-success" %>
        <%= content_tag :div, msg, class: name %>
      <%end%>
    <% end -%>
  </div>
  <div class="col-lg-4" style="padding-right:30px;" id="parent-platform1">
    <h2 id="platform1" style="cursor:pointer;margin-top:30%; text-shadow: 0 0 5px white;">Recruiting</h2>
    <p id="platform1-text" style="margin-top:10%;"><small>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</small></p>
  </div>
  <div class="col-lg-4">
    <center>
      <div id="image-container-1" style="height:300px">
      <%= image_tag "gf-white.jpg", {:id=>"gf", :style=>"height:300px;z-index:5;position:absolute;"} %>
      <%= image_tag "logo.jpg", {:id=>"logo", :style=>"height:300px;z-index:4;position:relative;"} %>
      </div>
    </center>
  </div>
  <div class="col-lg-4" style="padding-left:70px;" id="parent-platform2">
    <h2 id="platform2" style="cursor:pointer;margin-top:30%;text-shadow: 0 0 5px white;">Service</h2>
    <p id="platform2-text" style="margin-top:10%;"><small>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</small></p>
  </div>
  <div style="min-height:160px;"></div>
  <div class="col-lg-12" style="padding-top:100px;">
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-danger btn-lg">Learn more</a></p>
  </div>
</div>

<div class="page-header">
  <span>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
  <span class="pull-right">
    <%= form_tag platforms_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :placeholder=>"Search Platforms..", :style=>"height:40px;font-size:20px;" %>
    
    <%= link_to t('.new', :default => t("helpers.links.Add Platform")),
            new_platform_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => "#modal-window", :class=>"btn btn-danger"} %>
    <% end %>
          </h1>
    </span>
  </span>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  </tbody>
    <% @platforms.each do |platform| %>
      <tr>
        <td><%= link_to platform.id, platform_path(platform) %></td>
        <td><%= platform.name %></td>
        <td><%= platform.description %></td>
        <td><%= platform.created_at %></td>
        <td><%= pluralize platform.reputation_for(:votes).to_i, "vote" %>
      </td>
        <td>
          <%= link_to "up", vote_platform_path(platform, type: "up"), method: "post", class: "guest_login" %>
          <%= link_to "down", vote_platform_path(platform, type: "down"), method: "post", class: "guest_login" %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_platform_path(platform), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      platform_path(platform),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<center>
  <%= paginate @platforms %>
</center>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="margin-left:30%; margin-top: 5%; margin-bottom:5%; max-width: 600px; max-height:600px;    -moz-box-shadow: -2px -5px 32px #bab4ba;-webkit-box-shadow: -2px -5px 32px #bab4ba; background-color:white;box-shadow: -2px -5px 32px #bab4ba;overflow:hidden; border-radius:15px;  "></div>

