<script>
$(document).ready(function(){
  $("#platform1-text").slideUp();
  $("#platform2-text").slideUp();
  $("#platform3-text").slideUp();
  $("#parent-platform1").mouseenter (function(){
    $("#platform1").slideUp();
    $("#platform1-text").slideDown();
  });
  $("#parent-platform1").mouseleave (function(){
    $("#platform1").slideDown();
    $("#platform1-text").slideUp();
  });
  $("#parent-platform2").mouseenter (function(){
    $("#platform2").slideUp();
    $("#platform2-text").slideDown();
  });
  $("#parent-platform2").mouseleave (function(){
    $("#platform2").slideDown();
    $("#platform2-text").slideUp();
  });
  $("#parent-platform3").mouseenter (function(){
    $("#platform3").slideUp();
    $("#platform3-text").slideDown();
  });
  $("#parent-platform3").mouseleave (function(){
    $("#platform3").slideDown();
    $("#platform3-text").slideUp();
  });
  $("#topPlatforms").on("click", function (e) { 
    $(this).addClass("active").removeClass("") 
    $("#mostRecent").addClass("").removeClass("active")
  })
  $("#mostRecent").on("click", function (e) { 
    $(this).addClass("active").removeClass("") 
    $("#topPlatforms").addClass("").removeClass("active")
  })
  
  $("#platforms").css({"z-index":3,"opacity":0.05});
  $("#platforms *").attr("disabled", "disabled").off('click');
  $("#platformNav").css({"z-index":3,"opacity":0.05});
  $("#platformNav *").attr("disabled", "disabled").off('click');
  $("#parent-platform2").css({"z-index":4,"opacity":5});
});
</script>
<%- model_class = Platform -%>
<div class="jumbotron" style="height:300px;background-color:white;">
  <div class="col-lg-12" style="padding-bottom:20px;padding-top:0px;">

    <% flash.each do |name, msg| -%>
      <% if name == :error %>
        <% name = "alert alert-dismissable alert-danger" %>
        <% error_string = "Sorry your Platform could not be added because of the following errors: <br><ul>" %>
        <% msg.each do |error| %>
          <% error_string = error_string + "<li>"+ error + "</li>" %>
        <% end %>
        <% error_string = error_string + "</ul>" %>
      <%= content_tag :div, error_string.html_safe, class: name %>
      <% elsif name == :success %>
        <% name = "alert alert-dismissable alert-success" %>
        <%= content_tag :div, msg, class: name, style: "font-size:20px;font-style:helvetica;padding-left:25%;" %>
      <%end%>
    <% end -%>
  </div>
  <div class="col-lg-12">
    <center>
      <div id="image-container-1">
      <%= image_tag "logo.jpg", {:id=>"logo", :style=>"height:250px;z-index:4;position:relative; margin-top:0px;"} %>
      </div>
    </center>
  </div>
  <center>
</div>

<div class="page-header">
  <span>
  <h1>About Sid Puri</h1>
  </span>
</div>
<div>
  <table>
    <tr>
      <td style="width:30%;">
        <%= image_tag "sid.jpg", {:id=>"sid", :style=>"height:300px;-webkit-box-shadow: 30px 10px 29px 0px rgba(0,0,0,0.75);-moz-box-shadow: 30px 10px 29px 0px rgba(0,0,0,0.75);box-shadow: 30px 10px 29px 0px rgba(0,0,0,0.75);"} %>
      </td>
      <td style="width:70%;padding-left: 50px;font-size:20px;">
        <p>My name is Siddhant Puri and I am running to represent you all as a 2014-2015 Senator. I’m a junior EECS major and am incredibly passionate about creating a student government that is focused on forging solutions to the problems that students face. </p>

        <p>If elected as senator I want to use what I have learned as a Cal student to better community life for everyone. I want to tackle the student body’s concerns from a solution-oriented perspective by better integrating technology into campus life.</p> 

        <p>To further this goal, I want my platforms to reflect what you as a campus community are passionate about. I am asking you all to tell me what you would like to see improved on your campus community. Submit an issue that you care about and/or vote up or down for what speak to you. I will take the most supported platforms and ensure that my term in office is dedicated to empowering what you all care about. </p>

        <p>Thank you so much for your participation and support.</p>
      </td>
    </tr>
  </table>
</div>
<div style="height:100px"></div>
<div class="col-lg-6" style="padding-right:30px;height:250px" id="parent-platform1">
    <center>
    <h2 id="platform1" style="cursor:pointer;margin-top:20%; text-shadow: 0 0 5px white;">Recruiting</h2></center>
    <p id="platform1-text" style="margin-top:10%;font-size:18px;">Job hunting is a daunting process and navigating Callisto shouldn’t be an added bother. As an international student, opportunities I’m eligible for are hard to come by. In an effort to easily identify these limited opportunities and simplify the job hunt process, I have been working on a student-friendly portal that addresses the information gap between students and jobs they’re eligible for, in order to uncomplicate the job-hunt process. </p>
  </div>
  <div class="col-lg-6" style="padding-left:30px; height:250px" id="parent-platform2">
    <center>
    <h2 id="platform2" style="cursor:pointer;margin-top:20%;text-shadow: 0 0 5px white;">Service</h2></center>
    <p id="platform2-text" style="margin-top:10%; font-size:18px;">Cal’s diversity and culture aligns itself with a lot of causes and communities that require volunteers’ support. Service on our campus needs more attention and man power and with that in mind, I’m working on a cohesive system, more user-friendly than CalLink to access all these opportunities. I hope to create easier access to ASUC funding, simplify new member recruitment and enable regular town halls to build on this collaboration and enhance group innovation.</p>
  </div>
<div style="height:300px"></div>
<div class="page-header">
  <span>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </span>
</div>


<%#= button_tag "View Top Platforms", :class => "btn btn-danger"%> 
<div id="platformNav">
<span class="pull-left" style="padding-bottom:15px;">
<ul class="nav nav-pills orange">
  <!-- <li class="active"><a href="#">Top Platforms</a></li>
  <li><a href="#">Most Recent</a></li> -->
  <li id="topPlatforms" class="<%= 'active' if @sortedBy == 'platform' %>"><%= link_to "Top Platforms", :sort => "platforms", :remote=> true%></li>
  <li id="mostRecent" class="<%= 'active' if @sortedBy == 'recent' %>" ><%= link_to "Most Recent", :sort => "recent", :remote=>true%></li>
</ul>
</span>
<span class="pull-right">
    <%= form_tag platforms_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :placeholder=>"Search Platforms..", :style=>"height:50px;font-size:20px;" %>
    
    <%= link_to t('.new', :default => t("helpers.links.Suggest New Platform")),
            new_platform_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => "#modal-window", :class=>"btn btn-lg btn-danger", :style=>"margin-top:0px;margin-bottom:10px;"} %>
    <% end %>
          </h1>
    </span>
</div>
<div id="platforms" class="col-lg-12">
  <%= render :partial => "platformsTable" %>
</div>
<div class="col-lg-12" style="margin-top:-900px;z-index:2;padding-left:30px; height:250px" id="parent-platform2">
    <center>
    <h2 id="platform2" style="cursor:pointer;text-shadow: 0 0 5px white;">Berkeley has Decided</h2></center>
    <p id="platform2-text" style="font-size:18px;">Berkeley has decided and the most feasible platform has been selected! My new efforts will be towards extending late night study spaces and have a late night cafe on campus. The Sid2014 staff and I have been ended up in more late night study sessions than we care to admit and we understand the need to have more late night study spaces. Thank you for your votes and suggestions, Cal Bears! We will update you with a game plan!</p>
  </div>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="margin-left:30%; margin-top: 5%; margin-bottom:5%; max-width: 600px; max-height:600px;    -moz-box-shadow: -2px -5px 32px #bab4ba;-webkit-box-shadow: -2px -5px 32px #bab4ba; background-color:white;box-shadow: -2px -5px 32px #bab4ba;overflow:hidden; border-radius:15px;  "></div>

