<script>
$(document).ready(function(){
  $("#platform1-text").slideUp();
  $("#platform2-text").slideUp();
  $("#platform3-text").slideUp();
  $("#parent-platform1").mouseenter (function(){
    $("#platform1").slideUp();
    $("#platform1-text").slideDown();
  });
  $("#parent-platform1").mouseleave (function(){
    $("#platform1").slideDown();
    $("#platform1-text").slideUp();
  });
  $("#parent-platform2").mouseenter (function(){
    $("#platform2").slideUp();
    $("#platform2-text").slideDown();
  });
  $("#parent-platform2").mouseleave (function(){
    $("#platform2").slideDown();
    $("#platform2-text").slideUp();
  });
  $("#parent-platform3").mouseenter (function(){
    $("#platform3").slideUp();
    $("#platform3-text").slideDown();
  });
  $("#parent-platform3").mouseleave (function(){
    $("#platform3").slideDown();
    $("#platform3-text").slideUp();
  });
  $("#topPlatforms").on("click", function (e) { 
    $(this).addClass("active").removeClass("") 
    $("#mostRecent").addClass("").removeClass("active")
  })
  $("#mostRecent").on("click", function (e) { 
    $(this).addClass("active").removeClass("") 
    $("#topPlatforms").addClass("").removeClass("active")
  })
});
</script>
<%- model_class = Platform -%>
<div class="jumbotron" style="height:100px;background-color:white;">
  <div class="col-lg-12" style="padding-bottom:20px;padding-top:0px;">

    <% flash.each do |name, msg| -%>
      <% if name == :error %>
        <% name = "alert alert-dismissable alert-danger" %>
        <% error_string = "Sorry your Platform could not be added because of the following errors: <br><ul>" %>
        <% msg.each do |error| %>
          <% error_string = error_string + "<li>"+ error + "</li>" %>
        <% end %>
        <% error_string = error_string + "</ul>" %>
      <%= content_tag :div, error_string.html_safe, class: name %>
      <% elsif name == :success %>
        <% name = "alert alert-dismissable alert-success" %>
        <%= content_tag :div, msg, class: name %>
      <%end%>
    <% end -%>
  </div>
  <div class="col-lg-12">
    <center>
      <div id="image-container-1">
      <%= image_tag "logo.jpg", {:id=>"logo", :style=>"height:250px;z-index:4;position:relative; margin-top:0px;"} %>
      </div>
    </center>
  </div>
  <center>
</div>

<div class="page-header">
  <span>
  <h1>About Sid Puri</h1>
  </span>
</div>
<div>
  <table>
    <tr>
      <td style="width:30%;">
        <%= image_tag "sid.jpg", {:id=>"sid", :style=>"height:300px;-webkit-box-shadow: 30px 10px 29px 0px rgba(0,0,0,0.75);-moz-box-shadow: 30px 10px 29px 0px rgba(0,0,0,0.75);box-shadow: 30px 10px 29px 0px rgba(0,0,0,0.75);"} %>
      </td>
      <td style="width:70%;padding-left: 50px;font-size:20px;">
        My name is Siddhant Puri. I’m a junior EECS major. If elected as senator I want to use what I have learned as a Cal student to better community life for everyone. I want to tackle the student body’s concerns from an engineer’s perspective by better integrating technology into campus life.
      </td>
    </tr>
  </table>
</div>
<div style="height:100px"></div>
<div class="col-lg-4" style="padding-right:30px;height:250px" id="parent-platform1">
    <center>
    <h2 id="platform1" style="cursor:pointer;margin-top:20%; text-shadow: 0 0 5px white;">Recruiting</h2></center>
    <p id="platform1-text" style="margin-top:10%;font-size:18px;">Job hunting is a daunting process and navigating Callisto shouldn’t be an added bother. As an international student, opportunities I’m eligible for are hard to come by. In an effort to easily identify these limited opportunities and simplify the job hunt process, I have been working on a student-friendly portal that addresses the information gap between students and jobs they’re eligible for, in order to uncomplicate the job-hunt process. </p>
  </div>
  <div class="col-lg-4" style="padding-left:30px; height:250px" id="parent-platform3">
    <center>
    <h2 id="platform3" style="cursor:pointer;margin-top:20%;text-shadow: 0 0 5px white;">Crowdsourcing</h2></center>
    <p id="platform3-text" style="margin-top:10%;font-size:18px;">The ASUC overlooks a very large student population. The concerns of students who aren’t politically galvanized aren’t always heard. I hope to make my third platform democratic from the get-go. It will be chosen by the students. I want to ensure that I represent everyone’s interests and that everyone is encouraged to participate.  </p>
  </div>
  <div class="col-lg-4" style="padding-left:30px; height:250px" id="parent-platform2">
    <center>
    <h2 id="platform2" style="cursor:pointer;margin-top:20%;text-shadow: 0 0 5px white;">Service</h2></center>
    <p id="platform2-text" style="margin-top:10%; font-size:18px;">Cal’s diversity and culture aligns itself with a lot of causes and communities that require volunteers’ support. Service on our campus needs more attention and man power and with that in mind, I’m working on a cohesive system, more use-friendly than CalLink to access all these opportunities. I hope to create easier access to ASUC funding, simplify new member recruitment and enable regular town halls to build on this collaboration and enhance group innovation.</p>
  </div>
<div style="height:300px"></div>
<div class="page-header">
  <span>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </span>
</div>


<%#= button_tag "View Top Platforms", :class => "btn btn-danger"%> 
<div>
<span class="pull-left" style="padding-bottom:15px;">
<ul class="nav nav-pills orange">
  <!-- <li class="active"><a href="#">Top Platforms</a></li>
  <li><a href="#">Most Recent</a></li> -->
  <li id="topPlatforms" class="<%= 'active' if @sortedBy == 'platform' %>"><%= link_to "Top Platforms", :sort => "platforms", :remote=> true%></li>
  <li id="mostRecent" class="<%= 'active' if @sortedBy == 'recent' %>" ><%= link_to "Most Recent", :sort => "recent", :remote=>true%></li>
</ul>
</span>
<span class="pull-right">
    <%= form_tag platforms_path, :method => "get" do %>
        <%= text_field_tag :search, params[:search], :placeholder=>"Search Platforms..", :style=>"height:40px;font-size:20px;" %>
    
    <%= link_to t('.new', :default => t("helpers.links.Add Platform")),
            new_platform_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => "#modal-window", :class=>"btn btn-danger", :style=>"margin-top:0px;"} %>
    <% end %>
          </h1>
    </span>
</div>
<div id="platforms" class="col-lg-12">
  <%= render :partial => "platformsTable" %>
</div>
<center>
  <%= paginate @platforms %>
</center>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="margin-left:30%; margin-top: 5%; margin-bottom:5%; max-width: 600px; max-height:600px;    -moz-box-shadow: -2px -5px 32px #bab4ba;-webkit-box-shadow: -2px -5px 32px #bab4ba; background-color:white;box-shadow: -2px -5px 32px #bab4ba;overflow:hidden; border-radius:15px;  "></div>

